
/*Rose Pine Moon*/
@define-color color-base #BBCCDD;
@define-color color-red #990000;
@define-color color-blue-white #E8F9FF;
@define-color color-sandy #FDFAD4;
@define-color color-black #0F0F0F;
@define-color color-green #677A1E;
@define-color color-azure #0080ff;

@define-color color-surface #2a273f;
@define-color color-overlay #393552;
@define-color color-muted #6e6a86;
@define-color color-subtle #908caa;
@define-color color-text #e0def4;
@define-color color-love #eb6f92;
@define-color color-gold #f6c177;
@define-color color-rose #ea9a97;
@define-color color-pine #3e8fb0;
@define-color color-foam #9ccfd8;
/*Iris #c4a7e7*/
@define-color color-iris #c4a7e7;
@define-color color-iris-dark #A173D9;
@define-color color-highlight-low #2a283e;
@define-color color-highlight-med #44415a;
@define-color color-highlight-high #56526e;

window#waybar {
  background: alpha(@color-base, 0.3);
  font-weight: 700;
  border-bottom: solid 2px @color-red;
}

#workspaces {
  margin: 10px;
}

#workspaces button{
  border: solid 1px @color-blue-white;
  background: alpha(@color-blue-white, 0.4);
  border-radius: 1px;

}

#workspaces button.active{
  background: @color-sandy;
  color: @color-black;
}

#window{
  margin: 10px;
}

#waybar.empty .modules-center{
  opacity: 0;
}

#battery{
  padding: 0 15px;
  background: @color-green;
  border-radius: 15px;
  margin: 10px 5px;
  color: @color-surface;
}

#clock{
  padding: 0 15px;
  background: @color-azure;
  border-radius: 15px;
  margin: 10px 5px;
  color: @color-surface;
}

#bluetooth{
  padding: 0 15px;
  background: @color-rose;
  border-radius: 15px;
  margin: 10px 5px;
  color: @color-surface;
}
